<div id="apps" class="container">
    <div class="card">
        <%= image_tag "app_images/sample-app.png", :class => "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title">Rails Tutorial Sample App</h5>
            <p class="card-text">This is an app that I created by following Michael Hartl's "Ruby on Rails Tutorial" that can be found at <a href="https://www.railstutorial.org/">railstutorial.org</a>.</p>
            <a href="https://calm-headland-17911.herokuapp.com/" class="btn btn-primary" target="blank">Live Demo</a>
        </div>
    </div>
    <div class="card">
        <%= image_tag "app_images/scythe-app.png", :class => "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title">Scythe App</h5>
            <p class="card-text">This app helps calculate your score in the game Scythe. Scythe uses a fairly complex set of rules to determine your final score and this app takes all of those rules into account for you.</p>
            <a href="https://evening-river-73195.herokuapp.com/" class="btn btn-primary" target="blank">Live Demo</a>
        </div>
    </div>
    <div class="card">
        <%= image_tag "app_images/workout-app.png", :class => "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title">Workout App</h5>
            <p class="card-text">This is a pretty straight forward workout app. You can add workouts once you have signed in, add sets to those workouts and track how much weight you lifted on each machine and how many reps you did.</p>
            <a href="https://murmuring-harbor-78711.herokuapp.com/" class="btn btn-primary" target="blank">Live Demo</a>
        </div>
    </div>
</div>