<div id="apps" class="container">
    <div class="card">
        <%= image_tag "app_images/sample-app.png", :class => "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title">Rails Tutorial Sample App</h5>
            <p class="card-text">This is an app that I created by following Michael Hartl's "Ruby on Rails Tutorial" that can be found at <a href="https://www.railstutorial.org/">railstutorial.org</a>.</p>
            <a href="https://calm-headland-17911.herokuapp.com/" class="btn btn-primary" target="blank">Live Demo</a>
        </div>
    </div>
    <div class="card">
        <%= image_tag "app_images/scythe-app.png", :class => "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title">Scythe App</h5>
            <p class="card-text">ADD DESCRIPTION HERE.</p>
            <a href="https://evening-river-73195.herokuapp.com/" class="btn btn-primary" target="blank">Live Demo</a>
        </div>
    </div>
    <div class="card">
        <%= image_tag "app_images/workout-app.png", :class => "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title">Workout App</h5>
            <p class="card-text">ADD DESCRIPTION HERE.</p>
            <a href="https://murmuring-harbor-78711.herokuapp.com/" class="btn btn-primary" target="blank">Live Demo</a>
        </div>
    </div>
</div>