<div class="container">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="orgSelector">
            Nick Killin's Beta Org
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a class="dropdown-item" href="#">Nick Killin's Beta Org</a>
            <a class="dropdown-item" href="#">Nick Killin's Non-Beta Org</a>
            <a class="dropdown-item" href="#">Carlsbad</a>
        </div>
    </div>
    <div id="resources_calendar_widget" class="styled">
      <div class="loader">Loading...</div>
    </div>
    <script type="text/javascript">
      (function(){
      var rs = document.createElement("script");
      rs.type = "text/javascript";
      rs.async = true;
      rs.src = "//resources.planningcenteronline.com/widgets/eJxj4ajmsGLLz2SSDLDiSi3OLyipZrdiK_ZU4k_MyYlPLUvNKylms2JzDbFiK81kXv2R0Yq7ILEoMbe4mgEA2nsRPw==92c1c00e3b931037ff62bf433dc566af2708fc09.js";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(rs,s);
      })();
    </script>
</div>