<div class="container">
    <div id="introduction" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>About Me</h1>
            <hr>
            <p class="lead">I'm a technologist that loves helping create new ways for people to get more out of technology.</p>
            <p>Other things I love to do include spending time with my wife and kids, playing board games, and tinkering with 3D printers.</p>
            <a class="btn btn-primary btn-lg" href="#apps" role="button">See my apps</a>
        </div>
    </div>
   <%= render 'apps' %>
</div>