// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// About me

.jumbotron {
    margin-top: 2em;
}

// Apps

#apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    min-width: 200px;
    margin: 8px;
    flex-basis: 30%;
    .card-img-top {
        height: auto;
        width: 100%;
    }
}
